@charset "UTF-8";
:root {
  --primary-tex-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --white-op: rgba(255, 255, 255, 0.6);
  --button-font-color: #f5f4fa;
  --dark-font-color: #2f303a;
  --border-color: #eeeeee;
  --icons-color: #afb1b8;
  --footer-icons-color: rgba(255, 255, 255, 0.1);
  --main-font: "Roboto", sans-serif;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-color);
  color: var(--primary-tex-color);
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
}

.conteiner {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .novigattion {
    display: none;
  }
}

.site-nav {
  display: flex;
  margin-left: 88px;
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--active {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
  }
}

.auth-nav__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:first-child {
    margin-right: 50px;
  }
  .auth-nav__item:hover, .auth-nav__item:focus {
    color: var(--accent-color);
  }
}

.auth-nav__link {
  display: flex;
  align-items: center;
  color: var(--primary-tex-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__icon-contact {
  margin-right: 10px;
  fill: var(--primary-tex-color);
}

.auth-nav__icon-contact:hover, .auth-nav__icon-contact:focus {
  fill: var(--accent-color);
}

.logo {
  display: flex;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.studio {
  color: var(--black-color);
}

/* Логотип футера */
.footer .logo {
  margin-bottom: 20px;
  padding: 0;
}

@media screen and (max-width: 1199px) {
  .footer .logo {
    display: block;
    align-items: center;
    justify-content: center;
  }
}

.footer .footer-studio {
  color: var(--white-color);
}

.hero-container {
  background-color: var(--dark-font-color);
  text-align: center;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob-1x.jpg");
    padding: 118px 0px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab-1x.jpg");
    padding: 118px 0px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desk-1x.jpg");
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desk-2x.jpg");
  }
}

.hero__content {
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.57;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.section {
  padding: 60px, 15px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(0 0 0 0);
}

.section-features .conteiner {
  padding: 60px 15px;
}

@media screen and (min-width: 1200px) {
  .section-features .conteiner {
    padding: 94px 15px;
  }
}

.features .attention::before,
.features .punctuality::before,
.features .planning::before,
.features .technologies::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-position: center;
  background-color: var(--button-font-color);
}

.features .attention::before {
  background-image: url(../images/icons/antenna.svg);
  background-repeat: no-repeat;
}

.features .punctuality::before {
  background-image: url(../images/icons/clock.svg);
  background-repeat: no-repeat;
}

.features .planning::before {
  background-image: url(../images/icons/diagram.svg);
  background-repeat: no-repeat;
}

.features .technologies::before {
  background-image: url(../images/icons/astronaut.svg);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features__item {
  width: 100%;
  margin-top: 0px;
}

.features__item:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work .conteiner {
  margin-bottom: 94px;
}

.our-work {
  display: flex;
}

.our-work__item {
  width: 370px;
  margin-left: 30px;
}

.our-work__item:not(:last-child) {
  margin-left: 30px;
}

.our-work__item:not(:last-child) {
  margin-right: 30px;
}

.our-work__product-thumb {
  position: relative;
}

.our-work__product-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 27px;
  text-align: center;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.team-list .conteiner {
  background-color: var(--button-font-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-list .conteiner {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__employees {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .team__employees {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team__item {
  width: 100%;
  outline: 1px solid var(--border-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.team__title-list {
  text-transform: capitalize;
  color: var(--title-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.98;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 100%;
}

.text__description {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  line-height: 100%;
}

.icons-list {
  display: flex;
  margin: 0 auto;
  padding: 16px 32px 30px;
  justify-content: center;
}

.icons-list__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icons-list__item:not(:last-child) {
  margin-right: 10px;
}

.icons-list__item:hover, .icons-list__item:focus {
  background-color: var(--accent-color);
}

.icons-list__item:hover .icon,
.icons-list__item:focus .icon {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

.icon {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icons-color);
}

@media screen and (min-width: 320px) {
  .section-client {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-client {
    padding: 94px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-client__section-title {
    margin-bottom: 50px;
  }
}

.client {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client__item {
  width: 100%;
  height: 92px;
  margin: 15px;
  border: 1px solid var(--icons-color);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .client__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  .client__item:nth-child(n + 5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
  .client__item:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 12 * 15px) / 6);
    margin-top: 0;
    margin-bottom: 0;
  }
  .client__item:first-child {
    margin-left: 0;
  }
  .client__item:last-child {
    margin-right: 0;
  }
}

.client__item:hover, .client__item:focus {
  border: 1px solid var(--accent-color);
}

.client__item:hover .client__client-icon,
.client__item:focus .client__client-icon {
  fill: var(--accent-color);
}

.client__client-icon {
  width: 106px;
  height: 60px;
  fill: var(--icons-color);
}

.footer {
  background-color: var(--dark-font-color);
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer__conteiner {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__conteiner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: flex;
    align-items: baseline;
  }
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.adress {
  display: block;
}

.adress__item {
  font-style: normal;
}

.adress__contact {
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .accede {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .accede {
    margin-left: 70px;
  }
}

.accede__title {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .accede__title {
    text-align: left;
  }
}

.acced__link {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
  fill: var(--color-icon);
}

.acced__link :not(:last-child) {
  margin-right: 10px;
}

.icon-link-footer {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition-property: fill, background;
  transition-duration: 250ms;
}

.icon-link-footer:hover, .icon-link-footer:focus {
  background: var(--accent-color);
  fill: currentColor;
}

.icons-list-footer {
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.icons-list-footer li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icons-list-footer li {
  fill: var(--icons-color);
  background-color: var(--footer-icons-color);
}

.icons-list-footer li:hover, .icons-list-footer li:focus {
  background-color: var(--accent-color);
}

.icons-list-footer li .icon-footer {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
}

.icons-list-footer li .icon-footer:hover .icon-footer,
.icons-list-footer li .icon-footer:focus .icon-footer {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .mailing {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mailing {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    margin-left: 93px;
  }
}

.mailing__title {
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .mailing__form {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mailing__form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__form {
    align-items: center;
    display: flex;
  }
}

.mailing__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .mailing__input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .mailing__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__input {
    width: 358px;
  }
}

.mailing__button {
  position: relative;
  cursor: pointer;
  background: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  transition-property: background;
}

.mailing__button:after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/icon-send.svg);
  position: absolute;
  top: 13px;
  right: 28px;
}

@media screen and (max-width: 1199px) {
  .mailing__button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__button {
    margin-left: 12px;
  }
}

.mailing__button svg {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 92%;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.icon-modal {
  width: 11px;
  height: 11px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-form__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--title-text-color);
  margin: 0;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  outline: none;
  cursor: pointer;
}

.modal-form__input:hover,
.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__input:hover + .form-icons,
.modal-form__input:focus + .form-icons {
  fill: var(--accent-color);
}

.modal-form__label {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
}

.modal-form__icons {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 12px;
  bottom: 20px;
  transform: translateY(-50%);
}

.modal-form__fild {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input:required:focus {
  color: var(--accent-color);
}

.modal-form__label {
  margin-bottom: 0;
  margin-top: 10px;
}

.modal-form__text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 16px 12px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  outline: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.modal-form__text:hover,
.modal-form__text:focus {
  border-color: var(--accent-color);
}

.form-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-form__form-check-policy {
  font-size: 14px;
  line-height: 1.71px;
  margin-bottom: 30px;
  margin: 0 auto;
}

.modal-form__form-check-policy::before {
  content: " ";
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
  cursor: pointer;
}

.modal-form__form-check-input:checked + .modal-form__form-check-policy::before {
  background-image: url(../images/icons/check-i.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form__form-btn {
  align-self: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  background-color: #2196f3;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
}

.modal-form__form-check-policy a {
  color: #2196f3;
}

.portfolio-list .conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 320px) {
  .portfolio-list .conteiner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list .conteiner {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.card__card-element {
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .card__card-element:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card__card-element {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card__card-element {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.card__card-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.card__titele {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  margin-top: 0;
  margin-bottom: 0px;
  color: var(--primary-tex-color);
  font-size: 16px;
  line-height: 1.88;
}

.card__decor {
  text-decoration: none;
}

.card__card-slide {
  position: relative;
  overflow: hidden;
}

.card .produck-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.card__slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 63px 24px;
  margin: 0;
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
}

.card__card-element:hover .produck-overlay {
  opacity: 1;
  transform: translateY(0);
}

.filter__items {
  margin-right: 8px;
}

.filter__items:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .filter__items:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.filter__items:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__buttons {
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--button-font-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 0;
}

.filter__buttons:hover, .filter__buttons:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.filter__buttons:last-child {
  margin-right: 0;
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .filter {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

.mobile-nav {
  position: absolute;
  background-color: var(--white-color);
  top: 0;
  width: 100vw;
  height: 100vh;
  font-weight: 500;
  opacity: 1;
  visibility: visible;
}

.mobile-nav .conteiner {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-nav .conteiner .menu-close {
  position: absolute;
  right: 14px;
  top: 11px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition-duration: 250ms;
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: var(--primary-tex-color);
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .mobile-contacts__link--tel {
    font-size: 8.5vw;
    color: var(--accent-color);
  }
}

.mobile-contacts__link--mail {
  font-size: 24px;
  line-height: 1.17;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-social {
  display: flex;
  padding-top: 64px;
}

@media screen and (max-width: 479px) {
  .mobile-social {
    flex-wrap: wrap;
  }
}

.mobile-nav__bottom {
  justify-content: space-between;
}

.mobile-nav.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-social__item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .mobile-social__item {
    margin-bottom: 10px;
  }
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social__item:not(:last-child)::before {
  display: block;
  content: "";
  width: 0;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  position: absolute;
  bottom: 0;
  right: -10px;
}

.menu-open {
  background-color: var(--white-color);
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  fill: var(--title-text-color);
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  background-color: var(--white-color);
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  border: none;
}

.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}

.icon-menu {
  width: 24px;
  height: 16px;
  fill: var(--title-text-color);
}
/*# sourceMappingURL=main.css.map */