body {
  background-color: var(--white-color);
  color: var(--primary-tex-color);
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
}
// html {
//   box-sizing: border-box;
// }
